
 <!-- add links to your all albums ---- You just need to edit only this file and it will appear on all pages - it is loaded via Ajax-->

<div class="item-data project-page">
    <div class="project-holder">
        <!-- 1 -->
        <div class="project-list elem-list">
            <h3>Zillow #hackHousing Hackathon, 1st Place</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <img src="images/folio/small/wireframe.jpg" class="transition respimg" alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/quip.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove1.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove2.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove3.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove4.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove5.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/smartmove6.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/hackathon.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/hackathon2.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/tim.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
                <li class="folio-hover">
                    <img src="images/folio/small/timPitching.jpg" class="transition respimg " alt="">
                    <a class="ajax transition" href="portfolio-zillow.html"> </a>
                </li>
            </ul>
        </div>
        <!-- 2
        <div class="project-list elem-list">
            <h3>Facebook</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <div class="project-list elem-list">
            <h3>SonoSite</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <div class="project-list elem-list">
            <h3>Sherwin-Williams</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <div class="project-list elem-list">
            <h3>Microsoft</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <div class="project-list elem-list">
            <h3>Verizon-Wireless</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <div class="project-list elem-list">
            <h3>Dealerskins</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
                <li class="folio-hover">
                    <h4>Coming Soonish</h4>
                </li>
            </ul>
        </div>
        <!-- 4 -->
        <div class="project-list elem-list">
            <h3>SpaceLab Experiments</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <img src="images/folio/small/spacelabforever.jpg" class="transition respimg" alt="">
                    <a class="ajax transition" href="portfolio-spacelab.html"> </a>
                </li>
            </ul>
        </div>
        <!-- 4 -->
        <div class="project-list elem-list">
            <h3>Best of Show Award</h3>
            <div class="clearfix"></div>
            <ul>
                <li class="folio-hover">
                    <img src="images/folio/small/bestofshow.jpg" class="transition respimg" alt="">
                    <a class="ajax transition" href="portfolio-2007.html"> </a>
                </li>
            </ul>
        </div>
        <a id="list_close" class="elem-list" title="">Close</a>
    </div>
</div>
